/* Carte de produit */
.card {
	position: relative;
	cursor: pointer;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
  }
  
  .card:hover {
	transform: scale(1.05);
  }
  
  /* Image du produit */
  .productImage {
	width: 100%;
	height: auto;
	border-radius: 4px;
  }
  
  /* Placeholder pour l'image manquante */
  .placeholder {
	width: 100%;
	height: 150px;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #888;
	font-size: 1rem;
	border-radius: 4px;
  }
  
  /* Titre du produit */
  .productTitle {
	margin-top: 8px;
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
  }
  
  /* Prix du produit */
  .productPrice {
	margin-top: 4px;
	font-size: 1rem;
	color: #555;
  }
  
  /* Bouton de favori */
  .favoriteButton {
	position: absolute;
	top: 8px;
	right: 8px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	color: #ff6b6b;
	transition: color 0.2s;
  }
  
  .favoriteButton:hover {
	color: #ff0000;
  }
  

  
  /* Image du modal */
  .modalImage {
	width: 100%;
	height: auto;
	border-radius: 4px;
  }
  
  /* Titre du modal */
  .modalTitle {
	margin-top: 8px;
	font-size: 1.5rem;
	font-weight: bold;
	color: #333;
  }
  
  /* Description du modal */
  .modalDescription {
	margin-top: 8px;
	font-size: 1rem;
	color: #555;
  }
  
  /* Prix du modal */
  .modalPrice{
	font-size: 1.25rem;
	font-weight: bold;
	color: #0070f3;

  }
  
  .modal {
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 8px;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
  }
  
  .modalImage {
	width: 200px; /* Taille fixe pour l'image dans la modal */
	height: 200px; /* Taille fixe pour l'image dans la modal */
	object-fit: contain; /* Assure que l'image est bien contenue dans le cadre */
	margin-bottom: 1rem;
  }